.first{
color: blue;
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
background-color: lightsalmon;
border: 3px solid black;
border-radius:50px ;
cursor: pointer; 
}
.fir{
color: red;
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
background-color: rgb(242, 255, 122);
border: 3px solid black;
border-radius:50px ;
cursor: pointer; 
}
.parent{
    display: flex;
    justify-content: space-around;
}
.hed{
    color: black;
    font-style: italic;
    text-shadow: hsl(0, 88%, 49%) 10px 0 10px; ;
}
.box1{
    background-color: rgb(122, 230, 22);
    border: 3px solid;
    height: 231px;
    width: 600px;
    margin-top: 130px;  
}
.par1{
    display: flex;
}

.box2{
    background-color: lightpink;
    border: 3px solid;
    height: 231px;
    width: 600px;
    position: absolute;
    right: 20px;
    top: 300px;
 
}

